@import "../../styles.scss";

.main-section {
  height: 100vh;
  width: 100vw;
  background-image: url("./../../assets/img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 45px 4px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 45px 4px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 45px 4px rgba(0, 0, 0, 0.39);

  & > div {
    box-sizing: border-box;
    width: 40vw;
    min-height: 60vh;
  }

  .img-section {
    // border:1px solid #f00;
    background: url("./../../assets/img/2867048.jpg");
    background-size: cover;
    background-position: center;
  }
  .generator-section {
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.6)
    );
    backdrop-filter: blur(20px);
    border-radius: $border-radius;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h1 {
        color: #034078;
      }
      .subtitle {
        color: #0a1128;
        text-align: center;
        padding-bottom: 1.5rem;
        position: relative;
      }
      .subtitle::after {
        content: "";
        position: absolute; /* Position absolue par rapport à l'élément parent */
        bottom: 0; /* Aligner en bas */
        left: 50%; /* Centrer horizontalement */
        transform: translateX(-50%); /* Décalage de la moitié de la largeur */
        width: 50%; /* Largeur de la bordure inférieure */
        height: 1px; /* Épaisseur de la bordure */
        background-image: linear-gradient(
          to right,
          transparent,
          $main-color,
          transparent
        );
      }
    }

    .generate-container {
      .form-control {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block: 0.5rem;
        border-radius: $border-radius;
        box-sizing: border-box;
        padding: 0.5rem;
        background-color: rgba(208, 226, 230, 0.25);

        .length-value {
          height: 20px;
          min-width: 20px;
          text-align: center;
          margin: 3px;
        }
        label {
          padding-inline: 1rem;
        }
      }
    }
  }
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1.2rem;

  .result-panel {
    width: 100%;
    height: 3rem;
    border-radius: $border-radius;
    border: 1px solid $border-bg-color;
    background-color: rgba(227, 231, 232, 0.564);
    padding: 0.5rem;
    box-sizing: border-box;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
  }

  .action-refresh button,
  .action-copy button {
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: $main-color;
    border-radius: $border-radius;
    background-color: rgba(227, 231, 232, 0.289);
    border: 1px solid rgba(227, 231, 232, 0.564);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.95);
    }

    .w200 {
      font-weight: 200 !important;
    }
  }

  /* Tooltip */
  .action-refresh button[title],
  .action-copy button[title] {
    position: relative; /* Positionnement relatif pour les éléments enfants */
  }

  .action-refresh button[title]:hover::after,
  .action-copy button[title]:hover::after {
    content: attr(title); /* Contenu du tooltip égal au titre de l'élément */
    position: absolute; /* Positionnement absolu par rapport à l'élément parent */
    top: 100%; /* Positionnement en dessous de l'élément parent */
    left: 50%; /* Centrage horizontal par rapport à l'élément parent */
    transform: translateX(-50%); /* Centrage horizontal */
    padding: 0.5rem; /* Espacement intérieur */
    border-radius: 4px; /* Arrondi des coins */
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    font-size: 0.8rem; /* Taille de la police */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    opacity: 0; /* Par défaut, le tooltip est caché */
    transition: opacity 0.3s; /* Animation de transition pour le tooltip */
  }

  .action-refresh button[title]:hover::after,
  .action-copy button[title]:hover::after {
    opacity: 1; /* Afficher le tooltip lors du survol */
  }
}
.secure-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding-block-end: 1.5rem;
  i {
    color: $main-color;
  }
}
.secure-icons::after {
  content: "";
  position: absolute; /* Position absolue par rapport à l'élément parent */
  bottom: 0; /* Aligner en bas */
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Décalage de la moitié de la largeur */
  width: 50%; /* Largeur de la bordure inférieure */
  height: 1px; /* Épaisseur de la bordure */
  background-image: linear-gradient(
    to right,
    transparent,
    $main-color,
    transparent
  );
}
.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}
